---
http_interactions:
- request:
    method: get
    uri: http://a.wykop.pl/tag/index/earthporn,appkey,2BqYgxnLwX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apisign:
      - 911b50874f4d3d0ffc03c6ca33afdc5b
  response:
    status:
      code: 200
      message: OK
    headers:
      H1:
      - wykop-00.srv
      X-Utime:
      - '6'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"tag":"#earthporn","is_observed":false,"is_blocked":false,"counters":{"total":1282,"entries":1230,"links":52}},"items":[{"id":9609810,"author":"matelusz","author_avatar":"http:\/\/x9.cdn03.imgwykop.pl\/c3397992\/matelusz_9pIPq2ETpS,q60.jpg","author_avatar_big":"http:\/\/x9.cdn03.imgwykop.pl\/c3397992\/matelusz_9pIPq2ETpS,q150.jpg","author_avatar_med":"http:\/\/x9.cdn03.imgwykop.pl\/c3397992\/matelusz_9pIPq2ETpS,q48.jpg","author_avatar_lo":"http:\/\/x9.cdn03.imgwykop.pl\/c3397992\/matelusz_9pIPq2ETpS,q30.jpg","author_group":1,"author_sex":"male","date":"2014-09-26
        08:59:19","body":"Kazbek, najwy\u017cszy szczyt Gruzji, wy\u0142ania si\u0119
        zza chmur<br \/>\n#<a href=\"#wakacjeboners\">wakacjeboners<\/a> #<a href=\"#earthporn\">earthporn<\/a>
        #<a href=\"#gory\">gory<\/a>","source":null,"url":"http:\/\/www.wykop.pl\/wpis\/9609810\/kazbek-najwyzszy-szczyt-gruzji-wylania-sie-zza-chm\/","receiver":null,"receiver_avatar":null,"receiver_avatar_big":null,"receiver_avatar_med":null,"receiver_avatar_lo":null,"receiver_group":null,"receiver_sex":null,"comments":[],"blocked":false,"vote_count":4,"user_vote":0,"user_favorite":false,"voters":[{"author":"SlaskiMirek","author_group":1,"author_avatar":"http:\/\/x5.cdn03.imgwykop.pl\/c3397992\/SlaskiMirek_5YcZn4gRJl,q60.jpg","author_avatar_big":"http:\/\/x5.cdn03.imgwykop.pl\/c3397992\/SlaskiMirek_5YcZn4gRJl,q150.jpg","author_avatar_med":"http:\/\/x5.cdn03.imgwykop.pl\/c3397992\/SlaskiMirek_5YcZn4gRJl,q48.jpg","author_avatar_lo":"http:\/\/x5.cdn03.imgwykop.pl\/c3397992\/SlaskiMirek_5YcZn4gRJl,q30.jpg","author_sex":"male","date":"2014-09-26
        08:59:44"},{"author":"Hamalesn","author[...]
