<section id="contact" class="black">

  <!-- Google Map -->
  <div id="google-map" class="animated zoom-out"></div>
    
    <!-- Contact Content -->
    <div class="content contact-content padded dark animated slide-in-left">
      <i class="title-icon text-primary flaticon-speech43"></i>
      <h4>Napisz do mnie!</h4>
        <!-- Contact List -->
        <%= render 'contacts/form' %>
        <br/><br/>
        <ul class="list-unstyled list-unstyled-icons">
          <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="#">tomaszpanekk@gmail.com</a></li>
        </ul>
        

<!--    <p><a href="#" class="btn btn-primary">Pobierz moje CV</a></p> -->
        <!-- Bottom Bar -->
        <div class="bottom-bar contact-bottom-bar">
          <div class="row">
              <div class="col-md-12 col-lg-6">
                  <h5>Znajdziesz mnie również:</h5>
                    <!-- Social Icons -->
                    <ul class="social-icons medium">
                      <li><a href="https://www.facebook.com/profile.php?id=100004342007814"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/JoaquinSantana"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>