<section id="mikroblog" class="black">
	<div class="content padded dark">
		<div class="row mikroblog-head text-center">
			<div class="col-md-12">
				<h4>Mikroblog - Wykop.pl #earthporn</h4>
			</div>
		</div>

		<div class="carousel slide mikroblog" data-ride="carousel">
			
			<div class="carousel-inner">

				<% 3.times do |n| %>
					<div class="lists row item
						<% if n == 0 %>
				   				active
				    <% end %>
			   	 	">
			   	 	<% case n %>
			   	 	<% when 0 %>
			   	 		<% @tag = @tags[0..3] %>
			   	 	<% when 1 %>
			   	 		<% @tag = @tags[4..7] %>
			   	 	<% else %>
			   	 		<% @tag = @tags[8..12] %>
			   	 	<% end %>
						<% @tag.each_with_index do |t, index| %>
							
								<div class="links col-md-3">

									<a href="<%= t.foto %>" data-gallery>
										<img src="<%= t.foto %>" alt="<%= t.id %>" class="img-rounded">
									</a>
								</div>
						<% end %>
					</div>
				<% end %>

			</div><!-- /Carousel inner -->
			<div class="col-md-12 text-center">
				<div class="pagination">
					<ul class="list-inline">
						<li>

							<a href=".mikroblog" data-slide="prev"><span class="glyphicon glyphicon-backward"></span></a>

						</li>
						<li>

							<a href=".mikroblog" data-slide="next"><span class="glyphicon glyphicon-forward"></a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
</section>


<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>