<section id="portfolio">
    
      <!-- Projects Holder -->
  <div class="projects-holder black dark clearfix">
      <!-- Single Project --> 
      <div class="single-project animated fade-in">
        <div class="project-image">
            <img src="<%= asset_path('spolisty.jpg')%>" alt="" />
        </div>
        <div class="project-mask">
          <div class="project-info">
            <div class="project-title">spolisty.com</div>
            <div class="project-caption text-blue">Ruby on Rails</div>
            <div class="project-buttons"><a href="projects/ajax-project-details.html" class="ajax-portfolio-link btn btn-blue btn-sm">Czytaj więcej</a> <a href="http://spolisty.com" target="_blank" class="btn btn-default btn-sm">Wersja online</a></div>
          </div>
        </div>
      </div>
      <!-- Single Project --> 
      <div class="single-project animated fade-in appear-third">
        <div class="project-image">
            <img src="<%= asset_path('tief-mini.jpg')%>" alt="" />
        </div>
        <div class="project-mask">
          <div class="project-info">
            <div class="project-title">Tiefenbach Polska</div>
            <div class="project-caption text-yellow">Front-end, Bootstrap</div>
            <div class="project-buttons"><a href="projects/ajax-project-details.html" class="ajax-portfolio-link btn btn-yellow btn-sm">Czytaj więcej</a> <a href="www.tiefenbach.com.pl" target="_blank" class="btn btn-default btn-sm">Wersja online</a></div>
          </div>
        </div>
      </div>
      <!-- Single Project --> 
      <div class="single-project animated fade-in appear-second">
        <div class="project-image">
            <img src="<%= asset_path('workshop.jpg')%>" alt="" />
        </div>
        <div class="project-mask">
          <div class="project-info">
            <div class="project-title">Netguru workshop</div>
            <div class="project-caption text-green">Ruby on Rails / Bootstrap</div>
            <div class="project-buttons"><a href="projects/ajax-project-details.html" class="ajax-portfolio-link btn btn-green btn-sm">Czytaj więcej</a> <a href="https://tpanek-workshops-gliwice.herokuapp.com/" target="_blank" class="btn btn-default btn-sm">Wersja online</a></div>
          </div>
        </div>
      </div>
      <!-- Single Project --> 
      <div class="single-project animated fade-in appear-fourth">
        <div class="project-image">
            <img src="<%= asset_path('workshop.jpg')%>" alt="" />
        </div>
        <div class="project-mask">
          <div class="project-info">
            <div class="project-title">Make it</div>
            <div class="project-caption text-red">Ruby on Rails / React</div>
            <div class="project-buttons"><a href="projects/ajax-project-details.html" class="ajax-portfolio-link btn btn-red btn-sm">Czytaj więcej</a> <a href="#" target="_blank" class="btn btn-default btn-sm">Wersja online</a></div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Ajax Project Details -->
    <div class="project-content"></div>
    
</section>