<section id="resume">
    
  <div class="content dimmed-effect padded-short">
      
        <div class="row">
        
          <div class="col-lg-4">
          
            <!-- Box - O mnie -->
            <div class="resume-box animated slide-in-top">
              <i class="title-icon text-blue flaticon-speech43"></i>
              <h3>O mnie</h3>
              <p class="lead">Witam na moje stronie</p>
              <p>Interesuję się informatyką w szczególności budową web aplikacji z wykorzystaniem technologii Ruby on Rails.</p>
              <p>Zapraszam do odwiedzenia bloga oraz strony z projektami.</p>
              <a href="#blog" class="btn btn-black">Ostatnie wpisy</a> <a href="#portfolio" class="btn btn-default">Projekty</a>
            </div>
            
            <!-- Box - Umiejętności -->
            <div class="resume-box animated slide-in-left appear-second">
              <i class="title-icon text-green flaticon-open79"></i>
              <h3>Umiejętności</h3>
              <!-- Ruby on Rails -->
              <div class="skill">
                <span class="skill-name">Ruby on Rails</span>
                <div class="skill-bar sb-green">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>
              </div>
              <!-- Bootstrap -->
              <div class="skill">
                <span class="skill-name">Bootstrap</span>
                <div class="skill-bar sb-green">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>
              </div>
              <!-- TDD -->
              <div class="skill">
                <span class="skill-name">TDD</span>
                <div class="skill-bar sb-green">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                </div>
              </div>
              <!-- jQuery -->
              <div class="skill">
                <span class="skill-name">jQuery</span>
                <div class="skill-bar sb-green">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>
              </div>
              <!-- Adobe After Effects -->
              <div class="skill">
                <span class="skill-name">Adobe After Effects</span>
                <div class="skill-bar sb-green">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>
              </div>

               <!-- BackTrack -->
              <div class="skill">
                <span class="skill-name">BackTrack / Kali</span>
                <div class="skill-bar sb-green">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="col-md-6 col-lg-4">
          
            <!-- Box - Specialities -->
            <div class="resume-box animated slide-in-right">
              <i class="title-icon text-red flaticon-mouse19"></i>
              <h3>Specjalizacje</h3>
              <!-- Speciality -->
              <div class="speciality">
                <i class="speciality-icon text-red flaticon-bulb11"></i>
                <div class="speciality-content">
                  <h5 class="short">Back-End Web Development</h5>
                    <p class="speciaity-description">Ruby + Ruby on Rails</p>
                </div>
              </div>
              <!-- Speciality -->
              <div class="speciality">
                <i class="speciality-icon text-red flaticon-codings1"></i>
                <div class="speciality-content">
                  <h5 class="short">Front-End Web Development</h5>
                    <p class="speciaity-description">Bootstrap + jQuery</p>
                </div>
              </div>
              <!-- Speciality -->
              <div class="speciality">
                <i class="speciality-icon text-red flaticon-codings1"></i>
                <div class="speciality-content">
                  <h5 class="short">Testy penetracyjne</h5>
                    <p class="speciaity-description">BackTrack / Kali</p>
                </div>
              </div>
            </div>
            
            <!-- Box - Education & Jobs -->
            <div class="resume-box animated slide-in-left">
              <i class="title-icon text-yellow flaticon-document56"></i>
              <h3>Edukacja</h3>
              <div class="timeline">
                <!-- Single event -->
                <div class="timeline-event te-yellow">
                  <div class="event-date">Jan 2004 - Dec 2006</div>
                  <div class="event-name">Specialization course</div>
                  <div class="event-description">University of studies, Poland, Cracow</div>
                </div>
                <!-- Single event -->
                <div class="timeline-event te-yellow">
                  <div class="event-date">Jan 2004 - Dec 2006</div>
                  <div class="event-name">Specialization course</div>
                  <div class="event-description">University of studies, Poland, Cracow</div>
                </div>
                <!-- Single event -->
                <div class="timeline-event te-yellow">
                  <div class="event-date">Jan 2004 - Dec 2006</div>
                  <div class="event-name">Specialization course</div>
                  <div class="event-description">University of studies, Poland, Cracow</div>
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="col-md-6 col-lg-4">
          
            <!-- Box - Languages -->
            <div class="resume-box animated slide-in-right appear-second">
              <i class="title-icon text-orange flaticon-chat25"></i>
              <h3>Languages</h3>
              <!-- Single skill -->
              <div class="skill">
                <span class="skill-name">English</span>
                <div class="skill-bar sb-orange">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                </div>
              </div>
              <!-- Single skill -->
              <div class="skill">
                <span class="skill-name">German</span>
                <div class="skill-bar sb-orange">
                  <div class="skill-rate-on"></div>
                    <div class="skill-rate-on"></div>
                    <div class="skill-rate-off"></div>
                    <div class="skill-rate-off"></div>
                </div>
              </div>
            </div>
            
            <!-- Box - Hobbies -->
            <div class="resume-box animated slide-in-bottom">
              <i class="title-icon text-violet flaticon-joystick4"></i>
              <h3>Hobbies &amp; Interests</h3>
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Beer</li>
                <li class="list-group-item">Sport</li>
                <li class="list-group-item">Music</li>
                <li class="list-group-item">Videogames</li>
              </ul>
            </div>
            
          </div>
          
        </div>
        
    </div>

</section>