<div id="page-content">

  <!-- O mnie -->
  <%= render 'o_mnie' %>         
    
  <!-- Resume -->
  <%= render 'resume' %>
    
  <!-- Blog -->
  <%= render 'blog' %>
  
  <!-- Portfolio -->
  <%#= render 'projekty' %>  
    
  <!-- Contact -->
  <%= render 'kontakt' %>
  
</div>