<div id="page-content">

  <!-- O mnie -->
  <%= render 'homes/o_mnie' %>         
    
  <!-- Resume -->
  <%= render 'homes/resume' %>
    
  <!-- Blog -->
  <%= render 'homes/blog' %>
  
  <!-- Portfolio -->
  <%#= render 'projekty' %>  
    
  <!-- Contact -->
  <%= render 'homes/kontakt' %>
  
</div>