@import 'animations.css';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-theme.css';
@import 'owl.carousel.css';
@import 'owl.theme.css';
@import 'style.css';
@import 'bootstrap-image-gallery.css';
@import 'blueimp-gallery.min.css';
@import 'colors/yellow.css';

$yellow: #F8D25F;
$yellow_hover: #E6B623;

.text-primary {
  color: $yellow;
}

.btn.btn-primary {
  background-color: $yellow;
  &:hover {
    background-color: $yellow_hover;
  }
}

.fa-fighter-jet {
  font-size: 25px;
  margin-left: 20px;
}

a:hover {
  color: $yellow;
}

#profile {
  font-family: "Helvetica Neue",'Raleway',Helvetica,Arial,sans-serif;
}

label.checkbox {
	margin-bottom: 7px !important;
	input[type="radio"], input[type="checkbox"] {
		margin-top: 0px;
	}
}

/*===== Single Post =======*/

.post {
  margin-bottom: 80px !important;

}

.post_body {
  font-size: 15px;
  line-height: 0.5cm !important;
  margin-bottom: 0 !important;
  #pre {
    padding: 20px 0 20px 10px !important;
    margin-bottom: 40px !important;
    p {
      margin-bottom: 0;
    }
  }
}


/*====== Comments =========*/

.comments {
  padding-left: 0px !important;
}

.replies {
  margin-left: 50px;
}

.replies .replies .replies {
  margin-left: 0;
}

.comment .comment-content {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.comment:hover .comment-content {
  -webkit-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
  box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
}


.formularz {
  padding: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
    &:hover {
    -webkit-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
    box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
  }
}


.alert-success {
  background-image: -webkit-linear-gradient(top, #ffefbf 0%, #f8d25f 100%);
  background-image:         linear-gradient(to bottom, #ffefbf 0%, #f8d25f 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0); */
  background-repeat: repeat-x;
  border-color: #E6B623;
  color: gray !important;
}

/******** Flash **********/


#flash_success {
  background-color: $yellow;
  color: black;
  padding: 10px 0px;
  margin-top: 15px;
  text-align: center;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

// ***** TAGS WYKOP *****//

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


/**** TAGS ****/

#mikroblog {
  background: url(stardust.png);
  padding: 15px;
  .col-md-3 {

    span {
      display: block;
      width: 100%;
      text-align: center;
      padding: 3px;
      font-weight: bold;
    }

    .color {
      position: absolute;
      background: gray;
      width: 100%;
      height: 100%;
      opacity: .3;
    }

    .overflow {
      height: 177px;
      overflow: hidden;
      position: relative;

      .img-rounded{
        height:100%;
        width:100%;
        border-radius: 0px;
      }

      img {
        @include transition(all 0.8s ease-in-out 0s);
        &:hover {
          @include scale(1.2);
        }
      }  

      &:hover {
        .color {
          /* @include opacity(.0); */
          visibility: hidden;
        }
      }
    }  

  }

  .mikroblog-head {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 70px;
    padding-bottom: 20px;
  }

  .pagination {
    position: relative;
    padding: 0 50px;

    .list-inline {
      margin-bottom: 0px;
    }
    
    .glyphicon {
      padding: 20px 0;
      font-size: 30px;
    }

    .glyphicon-backward {
      top: 50%;
      left: 25%;
    }

    .glyphicon-forward {
      top: 50%;
      left: 30%;
    }
    
    &:hover {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    }
  }
}


.laptop-bg {
  text-align: center;
  background-size: contain;
  background-clip: border-box;
  position:relative;
  background-position: center center;
  background-repeat: no-repeat;
  
  .laptop-wrapper {
    background-repeat: no-repeat;
    position: absolute;
     /* % to outer border */
    left:16.1%;
    top: 16.1%;
    bottom: 22%;
    right: 18.5%;
    width: 67.8%;
    margin-bottom: 0 !important;
 }
}

.slick-list {
    max-height: 100% !important;
}

.slick-prev.slick-next {
  display:none;
}

.projekt-opis {
  text-align: left;
  padding-top: 73px;
  padding-right: 45px;

  .list-unstyled {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .opis {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .btn {
    margin-right: 20px;
  }
}

#portfolio {
  padding-bottom: 35px;
  h3 {
    padding-bottom: 50px;
    &:hover {
      border-color: #fff;
      -webkit-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
      box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
      z-index: 2;
    }
  }
}