@import 'animations.css';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-theme.css';
@import 'owl.carousel.css';
@import 'owl.theme.css';
@import 'style.css';
@import 'colors/yellow.css';

$yellow: #F8D25F;
$yellow_hover: #E6B623;

.text-primary {
  color: $yellow;
}

.btn.btn-primary {
  background-color: $yellow;
  &:hover {
    background-color: $yellow_hover;
  }
}

a:hover {
  color: $yellow;
}

#profile {
  font-family: "Helvetica Neue",'Raleway',Helvetica,Arial,sans-serif;
}

label.checkbox {
	margin-bottom: 7px !important;
	input[type="radio"], input[type="checkbox"] {
		margin-top: 0px;
	}
}

/*===== Single Post =======*/

.post {
  margin-bottom: 80px !important;
}


/*====== Comments =========*/


.comment .comment-content {
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.comment:hover .comment-content {
  -webkit-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
  box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
}


.formularz {
  padding: 20px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
    &:hover {
    -webkit-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
    box-shadow: 21px 21px 100px 0px rgba(0,0,0,0.1);
  }
}


.alert-success {
  background-image: -webkit-linear-gradient(top, #ffefbf 0%, #f8d25f 100%);
  background-image:         linear-gradient(to bottom, #ffefbf 0%, #f8d25f 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0); */
  background-repeat: repeat-x;
  border-color: #E6B623;
  color: gray !important;
}

/******** Flash **********/


#flash_success {
  background-color: $yellow;
  color: black;
  padding: 10px 0px;
  margin-top: 15px;
  text-align: center;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}